body{
    background-color: rgb(0, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

@media (orientation: portrait) {
    a{
        visibility: hidden;
    }
    .moon_img{
        width: 60%;
    }
    .text_{
        color: white;
        text-align: center;
        font-size: 5vw;
    }
    .text_error{
        position: absolute;
        visibility: hidden;
    }
    .pag_b{
        visibility: visible;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 90vh;
        width: 40vw;
        height: 50px;
        font-size: 3vw;
        font-weight: bold;
        color: white;
        background-color: rgb(0, 0, 0);
        border: 1px solid white;
    }
}
@media (orientation: landscape) {
    .text_error{
        visibility: visible;
        content: "Error";
        color: red;
        text-align: center;
        font-size: 5vw;
    }
    .moon_img{
        opacity: 0;
    }
    .pag_b{
        visibility: hidden;
    }
}