@media (max-aspect-ratio: 1919 / 1080){
    body{
        background-color: #1e1f29;
    }
    
    .left_{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        height: 220vw;
        width: 90vw;
        
        backdrop-filter: blur(3px);
        background-color: rgba(196, 196, 196, 0.02);
    
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .right_{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 220vw;
        height: 280vw;
        width: 90vw;
    
        backdrop-filter: blur(3px);
        background-color: rgba(196, 196, 196, 0.02);
    
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .montain_img{
        height: 0;
        width: 0;
    }

    .montain_img1{
        left: 0;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }
    
    span{
        display: inline-block;
        align-self: flex-start;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 6vw;
    }
    
    .lang{
        margin-left: 3vw;
        color: rgb(209, 220, 230);
    }
    
    .g{
        font-size: 3vw;
        color: rgb(124, 255, 141);
    }
    
    .subTitle{
        margin-top: 15vw;
        margin-bottom: -5vw;
        font-size: 9vw;
        color: rgb(240, 240, 240);
    }
    
    .subSubTitle{
        margin-top: 13vw;
        color: rgb(228, 228, 228);
        font-size: 6vw;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        align-self: flex-start;
        margin-left: 1vw;
    }
    
    .fix_{
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: calc(2vw + 5vh);
        background-color: rgb(36, 40, 48);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .br_img{
        height: calc(1vw + 2.5vh);
        position: absolute;
        right: 3vw;
        top: 1vh;
    }
    
    .switch{
        position: absolute;
        right: calc(5vw + 4vh);
        font-size: calc(1.2vw + 2.8vh);
        color: white;
        transition: color .2s;
    }
    
    .back_{
        position: absolute;
        left: calc(1.8vw + 1vh);
        font-size: calc(2.5vw + 1vh);
        color: white;
        transition: color .2s;
    }
    
    .title{
        font-size: 6vw;
        margin-left: -1vw;
    }
}

@media (min-aspect-ratio: 1920 / 1080){
    body{
        background-color: #1e1f29;
    }
    
    .left_{
        position: absolute;
        left: 6vw;
        top: 0;
        height: 60vw;
        width: 40vw;
        
        backdrop-filter: blur(3px);
        background-color: rgba(196, 196, 196, 0.02);
    
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .right_{
        position: absolute;
        right: 6vw;
        top: 0;
        height: 60vw;
        width: 40vw;
    
        backdrop-filter: blur(3px);
        background-color: rgba(196, 196, 196, 0.02);
    
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .montain_img{
        left: 0;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }

    .montain_img1{
        height: 0;
        width: 0;
    }
    
    span{
        display: inline-block;
        align-self: flex-start;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5vw;
    }
    
    .lang{
        margin-left: 3vw;
        color: rgb(209, 220, 230);
    }
    
    .g{
        font-size: 1.1vw;
        color: rgb(124, 255, 141);
    }
    
    .subTitle{
        font-size: 7vh;
        margin-top: 13vh;
        color: rgb(240, 240, 240);
    }
    
    .subSubTitle{
        color: rgb(228, 228, 228);
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        align-self: flex-start;
        margin-left: 1vw;
        font-size: 3vh;
    }
    
    .fix_{
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: calc(2vw + 5vh);
        background-color: rgb(36, 40, 48);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .br_img{
        height: calc(1vw + 2.5vh);
        position: absolute;
        right: 3vw;
        top: 2vh;
    }
    
    .switch{
        position: absolute;
        right: calc(5vw + 4vh);
        font-size: calc(1.2vw + 2.8vh);
        color: white;
        transition: color .2s;
    }
    
    .switch:hover{
        color: rgb(183, 184, 255);
    }
    
    .back_{
        position: absolute;
        left: calc(1.8vw + 1vh);
        font-size: calc(1vw + 2.5vh);
        color: white;
        transition: color .2s;
    }
    
    .back_:hover{
        color: rgb(183, 184, 255);
        text-decoration: none;
    }
    
    .title{
        font-size: 7vh;
        margin-left: -1vw;
    }
}