@media (max-aspect-ratio: 1919 / 1080) {
    body{
        overflow: auto;
        background-color: #1e1e2b;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        scale: 1;
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    
    .div_{
        z-index: 10;
        position: absolute;
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width:100vw;
        height: 60vh;
    }
    .name{
        margin-top: calc(-1vw - 1vh);
        font-size: calc(8vw + 4vh);
        color: rgb(255, 255, 255);
        overflow: hidden;
    }
    
    .sub_name{
        font-size: calc(3.4vw + .8vh);
        margin-top: calc(-3.5vw - 3.5vh);
        margin-bottom: calc(2vw + 2vh);
        color: rgb(255, 203, 139);
        overflow: hidden;
        font-family:serif;
    }
    .bt{
        font-weight: bold;
        font-size: calc(2vw + 2.5vh);
        color: rgb(255, 255, 255);
        transition: color .2s;
    }

    .montain_img{
        height: 0;
        width: 0;
    }

    .montain_img1{
        left: 0;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }

    .social_b{
        z-index: 20;
        text-decoration: none;
        color: bisque;
        font-family:monospace;
        font-weight: bold;
        font-size: 6vh;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 9vh;
        transition: color .2s
    }
    
    .br_img{
        top: 2.5vh;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 7vh;
        height: 4.5vh;
        opacity: 100%;
    }

    .contact{
        font-size: 7vh;
        color: white;
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .divo_{
        z-index: 11;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items:last baseline;
        width:100vw;
        height: 15vh;
        bottom: 2.5vh;
        left: 0;
    }
}

@media (min-aspect-ratio: 1920 / 1080) {
    body{
        overflow: auto;
        scale: 1;
        height: 100vh;
        background: linear-gradient(to bottom, #141925, #4d516b);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    .div_{
        z-index: 10;
        position: absolute;
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:100vw;
        height: 60vh;
    }
    .name{
        margin-top: calc(-.9vw - .9vh);
        font-size: calc(5vw + 5vh);
        color: rgb(255, 255, 255);
        overflow: hidden;
    }
    
    .sub_name{
        font-size: calc(1.2vw + 1.2vh);
        margin-top: calc(-3.5vw - 3.5vh);
        margin-bottom: calc(1vw + 1vh);
        color: rgb(255, 203, 139);
        overflow: hidden;
        font-family:serif;
    }
    .bt{
        font-weight: bold;
        font-size: calc(1.2vw + 1.2vh);
        color: rgb(255, 255, 255);
        transition: color .2s;

    }
    .bt:hover{
        color: rgb(183, 184, 255);
        font-style: unset;
        text-decoration: none;
    }

    .montain_img1{
        height: 0;
        width: 0;
    }

    .montain_img{
        left: 0;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }

    .social_b{
        z-index: 20;
        text-decoration: none;
        color: bisque;
        font-family:monospace;
        font-weight: bold;
        font-size: 3.5vw;
        position: absolute;
        right: 5.5vw;
        top: 10px;
        transition: color .2s;
    }
    .social_b:hover{
        color: rgb(183, 184, 255);
    }
    
    .br_img{
        top: 10px;
        right: 10px;
        position: absolute;
        width: 4.5vw;
        height: 3vw;
        opacity: 100%;
    }

    .contact{
        font-size: 4vw;
        transition: color .2s;
        color: white;
        margin-left: 1vw;
        padding: 0;
    }
    .contact:hover{
        color: rgb(183, 184, 255);
    }

    .divo_{
        z-index: 11;
        position: absolute;
        display: flex;
        justify-content:first baseline;
        align-items:last baseline;
        width:17vw;
        height: 12vh;
        bottom: 0;
        left: 0;
    }
}
