body{
    background: linear-gradient(to bottom, #ff0000, #ff0000);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

@media (min-aspect-ratio: 1920 / 1080) {
    body{
        background: linear-gradient(to bottom, #1d202e, #6671a7);
    }
    
    .div_{
        z-index: 10;
        position: absolute;
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:100vw;
        height: 60vh;
    }
    .name{
        margin-top: calc(-.9vw - .9vh);
        font-size: calc(5vw + 5vh);
        color: rgb(255, 255, 255);
        overflow: hidden;
    }
    
    .sub_name{
        font-size: calc(1.2vw + 1.2vh);
        margin-top: calc(-4.2vw - 4.2vh);
        color: rgb(255, 203, 139);
        overflow: hidden;
        font-family:serif;
    }
    .bt{
        font-weight: bold;
        font-size: calc(1.2vw + 1.2vh);
        color: rgb(255, 255, 255);
        transition: color .2s;

    }
    .bt:hover{
        color: rgb(183, 184, 255);
        font-style: unset;
        text-decoration: none;
    }

    .montain_img{
        left: 0;
        position: absolute;
        width: 100vw;
        height: auto;
        z-index: -1;
    }

    .social_b{
        z-index: 20;
        text-decoration: none;
        color: bisque;
        font-family:monospace;
        font-weight: bold;
        font-size: 2vw;
        position: absolute;
        top: 10px;
        transition: color .2s
    }
    .social_b:hover{
        color: rgb(183, 184, 255);
    }
    
    .br_img{
        top: 10px;
        right: 10px;
        position: absolute;
        width: 3vw;
        height: 2vw;
        opacity: 100%;
    }

    .contact{
        font-size: 4vw;
        transition: color .2s, margin-bottom .1s;
        color: white;
        margin-left: 1vw;
    }
    .contact:hover{
        margin-bottom: 1vh;
        color: rgb(183, 184, 255);
    }

    .divo_{
        z-index: 11;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width:40vw;
        height: 7vh;
        bottom: 10px;
        left: -12.5vw;
    }
}
