body{
    background-color: rgb(19, 19, 33);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tape{
    position: absolute;
    background-color: rgba(165, 42, 42, 0);
    width: 100%;
    left: 0;
    top: 0;
    height: 1400px;
    z-index: -10;
}

.pt{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #fff;
    font-size: 14px;
    width: 110px;
    height: 40px;
    border-radius: 14px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    font-weight: bold;
    z-index: 40;
    top: 30px;
    left: 50%;
    transform: translate(360px);
}
.pt:hover{
    background-color: rgb(183, 184, 255, 0.25);
}

.projects{
    top: 811px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: rgb(223, 251, 255);
    font-size: 17px;
    width: 170px;
    height: 32px;
    border-radius: 14px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    font-weight:lighter;
    z-index: 80;
    text-decoration: none;
    right: 50%;
    transform: translate(-49px);
}
.projects:hover{
    background-color: rgb(183, 184, 255, 0.25);
}

.unity_div{
    width: 310px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 580px;
    transform: translate(-330px);
    color: rgb(244, 244, 244);
}

.unity_text{
    color: rgb(207, 207, 207);
    font-size: 18px;
    font-weight: lighter;
}

.l_div{
    width: 395px;
    height: 500px;
    position: absolute;
    right: 50%;
    top: 390px;
    transform: translate(-42px);
    color: rgb(244, 244, 244);
}

.r_div{
    width: 400px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 390px;
    transform: translate(37px);
    color: rgb(244, 244, 244);
}

.apresentation{
    top: 250px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(244, 250, 255);
    justify-items: center;
}

.separator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 386px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.35);
    width: 930px;
}
.v_separator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 400px;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.25);
    width: 1px;
}

.social{
    z-index: 11;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 720px;
    transform: translateX(-50%);
    top: 350px;
    left: 50%;
}

.logo{
    width: 14px;
}

.contact{
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-size: 14px;
    width: 110px;
    height: 19px;
    border-radius: 14px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.contact:hover{
    background-color: rgb(183, 184, 255, 0.25);
}

.featured{
    position: absolute;
    top: 1060px;
    left: 50%;
    transform: translate(-50%);
    color: rgb(244, 250, 255);
    font-size: 28px;
}

.cards_group{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 880px;
    top: 1130px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card{
    background: #00000000;
    padding: 25px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.159);
    box-shadow: 0 0 12px rgba(34, 34, 34, 0.5);
}

.card_title{
    color: white;
}

.card_img{
    margin-left: 10px;
    width: 200px;
}

.left{
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-500px);
    width: 1px;
    height: 2000px;
    background-color: rgba(255, 255, 255, 0.15);
}

.right{
    top: 0;
    position: absolute;
    right: 50%;
    transform: translateX(500px);
    width: 1px;
    height: 2000px;
    background-color: rgba(255, 255, 255, 0.15);
}

.wall{
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 2000px;
    backdrop-filter: blur(2px);
    background-color: rgba(174, 200, 255, 0.02);
}

.title{
    margin-top: 0;
    margin-bottom: 0;
}
.subtitle{
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(202, 202, 202);
}

.background_img{
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
    mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,.04) 20%, rgba(0,0,0,.2) 40%, rgba(0,0,0,.3) 45%,
    rgba(0,0,0,.3) 70%, rgba(0,0,0,0) 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
}

.perfil_img{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 200px;
    top: 30px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}